---
owner_slack: "#operations-engineering-alerts"
title: Adding an SSH Key to Github
last_reviewed_on: 2022-10-20
review_in: 12 months
---

# Adding an SSH Key to Github

1. <code>ssh-keygen -t ed25519 -C "name@digital.justice.gov.uk"</code>

2. Press enter until the SSH key is created.

3. <code>eval "$(ssh-agent -s)"</code>

4. <code>ssh-add ~/.ssh/id_ed25519</code>

5. <code><span>pbcopy < ~/.ssh/id_ed25519.pub</span></code>

6. Paste the text somewhere and it should be in this format: `ssh-ed25519 HEX-VALUE name@digital.justice.gov.uk`

7. Add the new ssh key in `https://github.com/settings/keys`

8. Click on the `Configure SSO` button to authorise the key.

9. You should recieve an email that a key was added to your account.

10. Try `git clone git@github.com:ministryofjustice/moj-org-discussions.git`
