.env
.venv
venv
env
*.pkg
.vscode
.idea/
*.pyc
coverage.xml
.coverage
.tox*
htmlcov
*__pycache__*
.DS_Store
.terraform*
codeql*
codeql-custom-queries-python/

ministryofjustice_first_email_list.json
moj-analytical-services_first_email_list.json
export-*
export-moj-analytical-services.json
dormant.csv
