[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
list_outdated = "pip list --outdated"
tests = "coverage run -m unittest"
tests_report = "coverage report --omit=./test/** --sort=cover --show-missing --skip-empty"

[packages]
aiohttp = "==3.9.4"
aws_secretsmanager_caching = "==1.1.3"
boto3 = "==1.34.84"
cryptography = "==42.0.5"
gql = "==3.5.0"
notifications-python-client = "==9.0.0"
pandas = "==2.2.2"
pyaml-env = "==1.2.1"
pygithub = "==2.3.0"
pyjwt = "==2.8.0"
python-dateutil = "==2.8.2"
requests = "==2.31.0"
slack-sdk = "==3.27.1"
toml = "==0.10.2"

[dev-packages]
coverage = "==7.4.4"
freezegun = "==1.4.0"
moto = "==5.0.5"
pytest = "==8.1.1"
requests-mock = "==1.12.1"

[requires]
python_version = "3.11"
