# Production
aiohttp==3.9.2
boto3==1.34.10
cryptography==42.0.2
gql==3.4.1
notifications-python-client==8.1.0
pyaml-env==1.2.1
PyGithub==2.1.1
PyJWT==2.8.0
python-dateutil==2.8.2
requests==2.31.0
slack_sdk==3.26.1
toml==0.10.2

# Development
coverage==7.3.3
freezegun==1.2.2
pip-review==1.3.0
requests-mock==1.11.0
