toml
boto3
PyGithub == 2.1.1
python-dateutil == 2.8.2
gql
aiohttp
slack_sdk == 3.26.0
requests == 2.31.0
freezegun==1.2.2
pyaml-env
PyJWT
cryptography
coverage
requests-mock
notifications-python-client
