name: "♻️ Terraform Auth0"

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "terraform/auth0/**"
    branches:
      - main
  push:
    paths:
      - "terraform/auth0/**"
      - ".github/workflows/cicd-terraform-auth0.yml"
    branches: ["main"]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  TERRAFORM_VERSION: "1.6.6"

  TF_VAR_auth0_client_id: ${{ secrets.AUTH0_OPERATIONS_ENGINEERING_PROD_DEFAULT_CLIENTID }}
  TF_VAR_auth0_client_secret: ${{ secrets.AUTH0_OPERATIONS_ENGINEERING_PROD_DEFAULT_CLIENTSECRET }}
  TF_VAR_auth0_domain: ${{ secrets.AUTH0_OPERATIONS_ENGINEERING_PROD_DOMAIN}}

  TF_VAR_auth0_client_id_test: ${{ secrets.AUTH0_OPERATIONS_ENGINEERING_DEV_DEFAULT_CLIENTID }}
  TF_VAR_auth0_client_secret_test: ${{ secrets.AUTH0_OPERATIONS_ENGINEERING_DEV_DEFAULT_CLIENTSECRET }}
  TF_VAR_auth0_domain_test: ${{ secrets.AUTH0_OPERATIONS_ENGINEERING_DEV_DOMAIN}}

jobs:
  terraform:
    name: "Terraform Auth0"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      id-token: write
    strategy:
      matrix:
        path:
          - "operations-engineering-test"
          - "operations-engineering"
    defaults:
      run:
        working-directory: "terraform/auth0/${{ matrix.path }}"
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.TERRAFORM_AUTH0_S3_ROLE_ARN_DEV}}
          aws-region: eu-west-2

      - name: Post Link to Apply Pipeline
        if: github.ref == 'refs/heads/main'
        uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        with:
          message: |
            Your PR is applying here: https://github.com/ministryofjustice/operations-engineering/actions/workflows/cicd-terraform-auth0.yml?query=event%3Apush+branch%3Amain

      - name: Delete old comments on PR made by bot user
        if: github.ref != 'refs/heads/main'
        uses: izhangzhihao/delete-comment@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          delete_user_name: github-actions[bot]
          issue_number: ${{ github.event.number }}

      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check

      - name: Terraform Init
        id: init
        run: terraform init -input=false -no-color

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Plan
        id: plan
        run: terraform plan -input=false -no-color

      - name: Post Plan to GitHub PR
        if: github.ref != 'refs/heads/main'
        uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        with:
          message: |
            ## Terraform github repositories plan
            ```
            ${{ steps.plan.outputs.stdout || steps.plan.outputs.stderr }}
            ```

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        id: apply
        run: terraform apply -input=false -no-color -auto-approve

      - name: Report failure to Slack
        if: ${{ always() && github.ref == 'refs/heads/main' }}
        uses: ravsamhq/notify-slack-action@472601e839b758e36c455b5d3e5e1a217d4807bd # 2.5.0
        with:
          status: ${{ job.status }}
          notify_when: "failure"
          notification_title: "Failed GitHub Action Run"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
