name: "♻️ Terraform Auth0"

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "terraform/auth0/**"
    branches:
      - main
  push:
    paths:
      - "terraform/auth0/**"
      - ".github/workflows/cicd-terraform-auth0.yml"
    branches: ["main"]

jobs:
  terraform-auth0:
    strategy:
      matrix:
        path:
          - "operations-engineering-test"
          - "operations-engineering"
    uses: ./.github/workflows/reusable-workflow-terraform.yml
    with:
      workflow_name: "auth0"
      terraform_version: "1.6.6"
      path: "terraform/auth0/${{ matrix.path }}"
      name: "auth0 (${{ matrix.path }})"
    secrets:
      iam_role: ${{ secrets.TERRAFORM_AUTH0_S3_ROLE_ARN }}
      repo_github_token: ${{ secrets.GITHUB_TOKEN }}
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
      env: |
        TF_VAR_auth0_client_id=${{ secrets.AUTH0_OPERATIONS_ENGINEERING_PROD_DEFAULT_CLIENTID }}
        TF_VAR_auth0_client_secret=${{ secrets.AUTH0_OPERATIONS_ENGINEERING_PROD_DEFAULT_CLIENTSECRET }}
        TF_VAR_auth0_domain=${{ secrets.AUTH0_OPERATIONS_ENGINEERING_PROD_DOMAIN }}
        TF_VAR_auth0_client_id_test=${{ secrets.AUTH0_OPERATIONS_ENGINEERING_DEV_DEFAULT_CLIENTID }}
        TF_VAR_auth0_client_secret_test=${{ secrets.AUTH0_OPERATIONS_ENGINEERING_DEV_DEFAULT_CLIENTSECRET }}
        TF_VAR_auth0_domain_test=${{ secrets.AUTH0_OPERATIONS_ENGINEERING_DEV_DOMAIN }}
        TF_VAR_google_workspace_connection_client_id=${{ secrets.GOOGLE_WORKSPACE_CONNECTION_CLIENT_ID }}
        TF_VAR_google_workspace_connection_secret=${{ secrets.GOOGLE_WORKSPACE_CONNECTION_CLIENT_SECRET }}
        TF_VAR_github_application_client_id=${{ secrets.AUTH0_GITHUB_APPLICATION_CLIENT_ID }}
