name: Backup Route 53

on:
  schedule:
    - cron: "0 4 * * 1"
  workflow_dispatch:
  pull_request:

jobs:
  backup-route-53:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_DSD_R53_EXPORT_ROLE_ARN}}
          aws-region: eu-west-2

      - run: python3 -m pip install -r requirements.txt
      - run: python3 -m bin.export_route_53

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.R53_BACKUP_ROLE_ARN}}
          aws-region: eu-west-2

      - run: python3 -m bin.send_route_53_backup_to_s3

      - name: Report failure to Slack
        if: always()
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: ${{ job.status }}
          notify_when: "failure"
          notification_title: "Failed to backup Route 53"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
